<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>    <link href="/static/css/aboutus.css" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Slot availibility Checker</title>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"><span> <img src="/static/img/logo2.jpg" width="30" height="30" alt=""></span> Slot
              Checker</a>
    
    
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/index.html"><span class="glyphicon glyphicon-home"></span> Home</a></li>
              <li><a href="/about.html"><span class="glyphicon glyphicon-user"></span> About Us</a></li>
              <li><a href="https://selfregistration.cowin.gov.in/"><span class="glyphicon glyphicon-log-in"></span>
                  Registration</a></li>
              <li><a href = "mailto: slotavailibility12345@gmail.comm"><span class="glyphicon glyphicon-earphone"></span>Contact us</a></li>
            </ul>
          </div>
        </div>
      </div>

    <section>
        <div class="container2">
            <div class="card">
                <div class="content">
                    <br><br>
                    <div class="imgBx"><img src="/static/img/Chaitanya.jpg"></div>
                    <div class="contentBx">
                        <h3>Chaitanya Lokhande<br><br><span>Frontend , Backend</span></h3>
                    </div>
                <br><br><br><br><br>
                <ul class="sci">
                    <li style="--i:1">
                        <a href="https://www.facebook.com/chaitanya.lokhande.9277/"><i class="fa fa-facebook" aria-hidden="true"></i>

                        </a>
                    </li>
                    <li style="--i:2">
                        <a href="https://www.instagram.com/11_charlie_11_/" target="_blank"><i class="fa fa-instagram" ></i></a>
                    </li>
                    <li style="--i:3">
                        <a href="https://www.linkedin.com/in/chaitanya-lokhande-728309204/"><i class="fa fa-linkedin" aria-hidden="true"></i>

                        </a>
                    </li>

                </ul>
            </div>
            </div>
            <div class="card">
                <div class="content">
                    <br><br>
                    <div class="imgBx"><img src="/static/img/Tanmay.jpg"></div>
                    <div class="contentBx">
                        <h3>Tanmay Karmarkar<br><br><span>Frontend</span></h3>
                    </div>
                    <br><br><br><br><br>

                    <ul class="sci">
                    
                        <li style="--i:2">
                            <a href="https://www.instagram.com/karmarkar.tanmay/" target="_blank"><i class="fa fa-instagram" ></i></a>

                        </li>
                        <li style="--i:3">
                            <a href="https://www.linkedin.com/in/tanmay-karmarkar-b71616217/"><i class="fa fa-linkedin" aria-hidden="true"></i>

                            </a>
                        </li>

                    </ul>
                </div>
            </div>    
                <div class="card">
                    <div class="content">
                        <br><br>
                        <div class="imgBx"><img src="/static/img/Harsh.jpg"></div>
                        <div class="contentBx">
                            <h3>Harshwardhan<br><br><span>Report</span></h3>
                        </div>
                        <br><br><br><br><br>

                        <ul class="sci">
                            
                            <li style="--i:2">
                                <a href="https://www.instagram.com/atkareharsh/" target="_blank"><i class="fa fa-instagram" ></i></a>

                            </li>
                            <li style="--i:3">
                                <a href="https://www.linkedin.com/in/harshwardhan-atkare-49a9961bb/"><i class="fa fa-linkedin" aria-hidden="true"></i>

                                </a>
                            </li>

                        </ul>
                    </div>
                </div>    
                    <div class="card">
                        <div class="content">
                            <br><br>
                            <div class="imgBx"><img src="/static/img/Bhavesh.jpg"></div>
                            <div class="contentBx">
                                <h3>Bhavesh Oswal<br><br><span>Application , Report</span></h3>
                            </div>
                            <br><br><br><br><br>

                            <ul class="sci">
                                <li style="--i:1">
                                    <a href="https://www.facebook.com/bhavesh.oswal.73"><i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li style="--i:2">
                                    <a href="https://www.instagram.com/oswal.bhavesh/" target="_blank"><i class="fa fa-instagram" ></i></a>

                                </li>
                                <li style="--i:3">
                                    <a href="https://www.linkedin.com/in/bhavesh-oswal-13999020a/"><i class="fa fa-linkedin" aria-hidden="true"></i>

                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>    
                        <div class="card">
                            <br><br>
                            <div class="content">
                                <br><br>
                                <div class="imgBx"><img src="/static/img/mahavir.jpg"></div>
                                <div class="contentBx">
                                    <h3>Mahavir Navlakha<br><br><span>Report</span></h3>
                                </div>
                                <br><br><br><br><br>

                                <ul class="sci">
                                    <li style="--i:1">
                                        <a href="https://www.facebook.com/mahavir.navlakha.1"><i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li style="--i:2">
                                        <a href="https://www.instagram.com/mahavir_mn/" target="_blank"><i class="fa fa-instagram" ></i></a>

                                    </li>
                                    <li style="--i:3">
                                        <a href="https://www.linkedin.com/in/mahaveer-navlakha-844b5a156/"><i class="fa fa-linkedin" aria-hidden="true"></i>

                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
    </section>
    <div class="container">

        <div class="about">
            <h2>SITE INFO</h2>
            <P>A decent covid-19 vaccine slot availability created by integrating authenticated government website data into our website.This website is to get easily info about vaccination slot availability.
                Our project is providing data of entered city about the details of available vaccine slots on that particular day or time.</P>
        </div>
    </div>
</body>
<footer>
    <div class="container">
      <center>
        <p>This Website is Made by First year of PICTIANS</p>
      </center>
    </div>
  </footer>

</html>