{% extends "products.html" %}

{% block body %}

    {{ message }}
    <br>
    <button class="btn btn-outline-primary" style="background-color: aqua;size: 25px; color: black; border: 2px solid black; border-radius: 25px;" type="button"><a href="https://mail.google.com"><span class="glyphicon glyphicon-envelope"> </span> Open Gmail</a></button>
    <br>
    <p>This Website Is Only For Checking Available Slots</p>
    <p>For Booking Slot Please Visit Official Website Of</p>
    <a href="https://selfregistration.cowin.gov.in/" style="color: aqua;">COVID VACCINE INDIA</a> 
{% endblock %}
